@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin font($font-family: $primary-font, $font-size: 14px, $line-height: 18px, $color: $black) {
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin block-color($color: $black, $bg-color: $white) {
  color: $color;
  background-color: $bg-color;
}

@mixin link {
  text-transform: uppercase;
  text-decoration: none;
}

@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin container {
  width: 280px;
  margin: 0 auto;
}

@mixin background($bg-color, $bg-image-src, $bg-repeat, $bg-position, $bg-size) {
  background-color: $bg-color;
  background-image: $bg-image-src;
  background-repeat: $bg-repeat;
  background-position: $bg-position;
  background-size: $bg-size;
}

@mixin pseudo-before($bg-color, $bg-image-src, $bg-repeat, $bg-position, $bg-size, $content, $display, $width, $height) {
  @include background($bg-color, $bg-image-src, $bg-repeat, $bg-position, $bg-size);
  content: $content;
  display: $display;
  width: $width;
  height: $height;
}

