/* здесь используйте глобальные переменные */
/* цвета */
$body-color: #000000; // Передний план (цвет) по умолчанию, включая компоненты
$body-bg: #ffffff; // Фон(цвет) по умолчанию, включая компоненты
$secondary-color: #444444; // Более светлый цвет текста
$secondary-color-darker: #222222; // Более тёмный цвет текста
$emphasis-color: #111111; // Для более контрастного текста
$light-color: #f2f2f2; // Цвет фона карточек товара, программ, футера, кнопки
$light-color-darker: #eaeaea;
$sixth-color: #666666;
$seventh-color: #cdcdcd;
$eighth-color: #d3d3d3;
$fifteenth-color: #d9d9d9;
$ninth-color: #e7e7e7;

$tenth-color-darker: #ebebeb;
$twelfth-color: #5eaa2f;
$twelfth-color-lighter: rgba(94, 170, 47, 0.3);
$thirteenth-color: #68b738;
$thirteenth-color-lighter:rgba(104, 183, 56, 0.85);
$fourteenth-color: #ff8282;
