.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $first-color;
  background-color: $thirteenth-color;
  text-transform: uppercase;
  text-decoration: none;
}
