.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-bg-color;
  background-color: $primary-bg-color;
  text-transform: uppercase;
  text-decoration: none;
}
