.button {
  @include font($secondary-font, 16px, 20px);
  @include block-color($white, $primary);
  @include link;
  padding: 0;
  text-align: center;
  display: inline-block;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $primary-darker;
  }

  &:active {
    background-color: $primary-darker;
    color: $white-alpha;
  }
}
