// .catalog {

// }

.catalog__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.catalog__title {
  @include font($secondary-font, 36px, 36px);

  margin: 0;
  margin-bottom: 40px;
}

.catalog__list {
  @include list-style-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {

  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    width: 324px;
    background-color: $light;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-card--all {
  align-self: flex-end;
}
