.contacts {
  @include block-color;
}

.contacts--additional-color {
  background-color: $light;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}
/* интерактивная карта без JavaScript показывает статичную картинку с картой. */

.contacts--nojs {
  .contacts__location-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $light;
  }

  .contacts__location-img {
    display: block;
  }

  .contacts__map {
    display: none;
  }
}

.contacts__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: 1440px) {
    @include container-desktop;
    position: relative;
  }
}

.contacts__text-wrapper {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 100;
    width: 565px;
    padding-left: 80px;
    padding-right: 72px;
    background-color: $white;
  }
}

.contacts__text {
  @include font($secondary-font, 16px, 20px, $darker);
  width: 140px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 20px, 26px, $darker);
    width: 163px;
  }
}

.contacts__address {
  @include font($primary-font, 14px, 20px, $gray-900);
  font-style: normal;
  width: 140px;

  @media (min-width: $tablet-width) {
    @include font($primary-font, 16px, 20px, $gray-900);
    width: 163px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__street {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.contacts__city {
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__location {
  width: 100%;
  min-height: 362px;
  background-color: $light;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.contacts__location-img-container {
  display: none;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
