.example {
  @include block-color($black, $gray-100);

  @media (min-width: $tablet-width) {
    @include block-color($black, $white);
  }

  @media (min-width: $desktop-width) {
    @include block-color($black, $gray-100);
  }
}

.example__container {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    @include container-tablet;
    gap: 100px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
    flex-direction: row;
    gap: 224px;
  }
}

// .example__content {

// }

.example__title {
  @include font($secondary-font, 36px, 40px);
}

.example__module-desc {
  @include font($primary-font, 12px, 12px, $gray-900);
}

.example__module-value {
  @include font($secondary-font, 24px, 24px);
  text-transform: uppercase;
}

.example__meta {
  @include font($secondary-font, 14px, 20px);
}

.example__slider {
  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }
}

.example__slider-button {
  padding: 0;
  color: $gray-800;
  background-color: transparent;
  border: none;
}

.example__slider-button:hover .slider__icon-thumb {
  color: $primary;
}

.example__slider-button:focus .slider__icon-thumb {
  color: $primary;
}

.example__slider-button:active .slider__icon-thumb {
  color: $primary-darker;
  opacity: 0.6;
}
