// .features {

// }

.features__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.features__desc {
  font-weight: 400;
  color: $main-text-color;
}
