// .features {

// }

.features__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: 1440px) {
    @include container-desktop;
  }
}

.features__list {
  @include list-style-reset;
}

.features__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $primary;
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features__item--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
}

.features__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-powder");
}

.features__item--eat::before {
  background-image: url("../../icons/stack.svg#icon-eat");
}

.features__item--clock::before {
  background-image: url("../../icons/stack.svg#icon-clock");
}

.features__title {
  @include font($secondary-font, 36px, 40px);
}

.features__desc {
  @include font($primary-font, 14px, 18px, $gray-900);
}
