.footer {
  background-color: $eleventh-color;
  color: $second-color;
}

.footer__copyright-link {
  text-decoration: none;
}

.footer__copyright {
  font-size: 16px;
  line-height: 20px;
  color: $fifth-color;
}
