.header {
  @include block-color;

  position: relative;
}

@media (max-width: $mobile-width-only) {
  .header--nojs .header__toggle {
    display: none;
  }

  .header--nojs .header__container {
    display: block;
  }

  .header--nojs .header__mobile-menu {
    margin-bottom: 14px;
  }

  .header--nojs .header__main-menu-list {
    position: relative;
    top: auto;
    margin-bottom: -14px;
  }
}

.header__container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    @include container-tablet;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.header__mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo-link {
  color: $darker;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 56px;
}

.header__logo-link:hover {
  opacity: 0.8;
}

.header__logo-link:active {
  opacity: 0.6;
}

.header__logo-pic-mobile {
  display: block;
}

/* Переключатель */

.header__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

/* Иконка переключателя - бургер */

.header__toggle--opened {
  background-color: transparent;
  background-image: url("../../icons/stack.svg#icon-burger");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Иконка переключателя - крестик */

.header__toggle--closed {
  width: 18px;
  height: 18px;
  background-image: url("../../icons/stack.svg#icon-close");
  background-size: 18px 18px;
}

/* Выпадающее меню */

.header__main-menu-list {
  @include block-color;
  @include list-style-reset;
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: static;
    flex-direction: row;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 550px;
    justify-content: flex-end;
  }
}

.header__main-menu-item:last-child .header__main-menu-link {
  border-bottom: 1px solid $gray-400;
}

.header__main-menu-link {
  @include font($secondary-font, 20px, 20px);
  @include link;

  display: block;
  min-height: 66px;
  padding: 22px 20px;
  border-top: 1px solid $gray-400;
}
