.header {
  @include block-color;
}

.header__navigation-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-inline: 20px;
}

@media (min-width: $tablet-width) {
  .header__navigation-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
  }
}

@media (min-width: $desktop-width) {
  .header__navigation-wrapper {
    padding-inline: 110px;
  }
}

.header__mobile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-decoration: none;
}

.header__logo-link {
  color: $darker;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link:hover {
  opacity: 0.8;
}

.header__logo-link:active {
  opacity: 0.6;
}

.header__logo-pic-mobile {
  display: block;
}

.header__button {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  background-image: url("../../icons/stack.svg#icon-burger");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .header__button {
    display: none;
  }
}

.header__button--mobile-close {
  width: 18px;
  height: 18px;
  background-image: url("../../icons/stack.svg#icon-close");
  background-size: 18px 18px;
}

.header__navigation-list {
  @include list-style-reset;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .header__navigation-list {
    flex-direction: row;
  }
}

.header__navigation-link {
  @include font($secondary-font, 20px, 20px);
  @include link;
}
