// .page {

// }

.page__body {
  padding-top: 13px;
}

@media (min-width: $tablet) {
  .page__body {
    padding-top: 25px;
  }
}

@media (min-width: $desktop) {
  .page__body {
    padding-top: 55px;
  }
}
