// .page {

// }

.page__header {
  min-height: 66px;
  padding-top: 14px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    margin-bottom: 29px;
  }
}

.page__promo {
  margin-bottom: 20px;
}

.page__programms {
  margin-bottom: 20px;
}

.page__catalog {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.page__example {
  padding-top: 26px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 74px;
  }
}

.page__footer {
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.page__subscribe {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-bottom: 104px;
  }
}
