// .page {

// }

.page__header {
  padding-top: 14px;
}

@media (min-width: $tablet-width) {
  .page__header {
    padding-top: 26px;
  }
}

@media (min-width: $desktop-width) {
  .page__header {
    padding-top: 56px;
  }
}

.page__catalog {
  padding-top: 26px;
  padding-bottom: 74px;
}

.page__example {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 74px;
  }
}

.page__contacts {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.page__footer {
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
