.product-card {

}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-text-color;
  text-transform: uppercase;
}

.product-card__desc {
  font-size: 12px;
  line-height: 16px;
  color: $main-text-color;
}

.product-card--all .product-card__title {
  color: $alter-secondary-text-color;
}

.product-card--all .product-card__button {
  background-color: $secondary-bg-color;
  color: $main-text-color;
}
