.product-card {
  position: relative;
  min-height: 209px;
  padding-top: 20px;
  padding-bottom: 24px;
}

.product-card__container {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.product-card__content-wrapper {
  display: flex;
  min-height: 107px;
}

.product-card__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
}

.product-card__info-wrapper {
  width: 140px;
}

.product-card__image {
  display: block;
}

.product-card__title-link {
  text-decoration: none;
}

.product-card__title {
  @include font($secondary-font, 16px, 20px, $dark);
  max-width: 76px;
  margin-top: 0;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.product-card__desc {
  @include font($primary-font, 12px, 16px, $gray-900);
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.product-card__link {
  padding: 10px 15px;
}

.product-card--all {
  display: flex;
  padding-bottom: 24px;
}

.product-card--all::before {
  position: absolute;
  top: 40px;
  left: 167px;
  content: " ";
  box-sizing: border-box;
  width: 30px;
  height: 2px;
  background-color: $gray-600;
}

.product-card--all::after {
  position: absolute;
  top: 40px;
  left: 167px;
  content: " ";
  box-sizing: border-box;
  width: 30px;
  height: 2px;
  background-color: $gray-600;
  transform: rotate(90deg);
}

.product-card--all .product-card__container {
  gap: 21px;
  align-self: flex-end;
}

.product-card--all .product-card__info-wrapper {
  text-align: center;
  width: 100%;
}

.product-card--all .product-card__title {
  @include font($secondary-font, 16px, 20px, $darker);
  max-width: 100%;
  margin-bottom: 8px;
}

.product-card--all .product-card__text {
  margin-top: 0;
  margin-bottom: 0;
}

.product-card--all .product-card__link {
  @include block-color($gray-900, $light);
}
