.product-card {
  min-height: 209px;
  padding-top: 20px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    min-height: 511px;
    padding: 10px 37px 40px;
    background-color: $light;
    background-image: linear-gradient($white 80px, $light 80px);
  }

  @media (min-width: $desktop-width) {
    padding-right: 38px;
    padding-left: 38px;
  }
}

.product-card__container {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 17px;

  @media (min-width: $tablet-width) {
    gap: 40px;
    width: 100%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 40px;
  }
}

.product-card__content-wrapper {
  display: flex;
  min-height: 107px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.product-card__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.product-card__info-wrapper {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.product-card__image {
  display: block;
}

.product-card__title-link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.product-card__title {
  @include font($secondary-font, 16px, 20px, $dark);
  max-width: 76px;
  margin-top: 0;
  margin-bottom: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__desc-wrapper {
  display: block;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}

.product-card__desc {
  @include font($primary-font, 12px, 16px, $gray-900);
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.product-card__desc::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $gray-700;
  }

  @media (min-width: $desktop-width) {
    bottom: -7px;
  }
}

.product-card__desc:last-child {
  margin-bottom: 0;
}

.product-card__link {
  padding: 10px 15px;
}

.product-card.product-card--all {
  display: flex;
  min-height: 209px;
  padding-bottom: 24px;
  background-image: none;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    min-height: 429px;
    padding-bottom: 40px;
    background-color: $white;
    border: 2px solid $light;
  }

  @media (min-width: $desktop-width) {
    min-height: 430px;
  }
}

.product-card--all .product-card__container {
  gap: 19px;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    gap: 81px;
  }

  @media (min-width: $desktop-width) {
    gap: 90px;
  }
}

.product-card--all .product-card__container::before {
  position: absolute;
  top: -38px;
  left: calc(50% - 15px);
  content: " ";
  width: 30px;
  height: 2px;
  background-color: $gray-600;

  @media (min-width: $tablet-width) {
    top: -80px;
    width: 60px;
    left: calc(50% - 30px);
  }

  @media (min-width: $desktop-width) {
    top: -70px;
  }
}

.product-card--all .product-card__container::after {
  position: absolute;
  top: -38px;
  left: calc(50% - 15px);
  content: " ";
  width: 30px;
  height: 2px;
  background-color: $gray-600;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    top: -80px;
    width: 60px;
    left: calc(50% - 30px);
  }

  @media (min-width: $desktop-width) {
    top: -70px;
  }
}

.product-card--all .product-card__info-wrapper {
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    align-self: center;
  }
}

.product-card--all .product-card__title {
  @include font($secondary-font, 16px, 20px, $darker);
  max-width: 100%;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.product-card--all .product-card__text {
  @include font ($primary-font, 12px, 16px, $gray-900);
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
