//.programms {

// }

.programms__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.programms__list {
  @include list-style-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }
}

.programms__card {
  @include block-color($black, $light);
  position: relative;
  width: 280px;
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 30px;
    padding: 77px 63px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
    padding-right: 61px;
    padding-bottom: 55px;
  }
}

.programms__card:last-child {
  margin-bottom: 0;
}

.programms__card::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.programms__card::before {
  position: absolute;
  top: 24px;
  left: 20px;
  content: "";
  width: 50px;
  height: 50px;
  background-color: $primary;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 91px;
    left: auto;
    right: 63px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 51px;
    right: auto;
    width: 100px;
    height: 100px;
  }
}

.programms__card--cat-slim::after {
  top: 19px;
  left: 20px;
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#icon-cat-slim");
  background-size: 36px 50px;

  @media (min-width: $tablet-width) {
    top: 70px;
    left: auto;
    right: 63px;
    width: 200px;
    height: 211px;
    background-size: 140px 194px;
  }

  @media (min-width: $desktop-width) {
    top: 36px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 106px;
    background-size: 70px 97px;
  }
}

.programms__card--cat-pro::after {
  top: 24px;
  left: 12px;
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#icon-cat-pro");
  background-size: 67px 28px;

  @media (min-width: $tablet-width) {
    top: 90px;
    left: auto;
    right: 29px;
    width: 268px;
    height: 200px;
    background-size: 268px 112px;
  }

  @media (min-width: $desktop-width) {
    top: 45px;
    left: 33px;
    right: auto;
    width: 134px;
    height: 100px;
    background-size: 134px 56px;
  }
}

.programms__title {
  @include font($secondary-font, 24px, 37px);
  margin-top: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
    font-size: 36px;
    line-height: 36px;
  }
}

.programms__text {
  @include font($primary-font, 14px, 18px, $gray-900);
  margin-top: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    max-width: 340px;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    margin-bottom: 23px;
  }
}

.programms__text::before {
  position: absolute;
  bottom: 57px;
  left: 20px;
  content: " ";
  width: 240px;
  height: 1px;
  background-color: $gray-500;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.programms__link {
  @include font($secondary-font, 16px, 16px);
  @include link;
  display: inline-block;
  padding: 4px 49px 4px 0;
  background-image: url("../../icons/stack.svg#icon-arrow-short");
  background-repeat: no-repeat;
  background-size: 24px 12px;
  background-position: 102px center;

  @media (min-width: $tablet-width) {
    padding-right: 57px;
    background-position: 130px center;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 60px;
  }
}

.programms__link:hover {
  background-image: url("../../icons/stack.svg#icon-arrow-long");
  background-size: 32px 12px;
}

.programms__link:focus {
  background-image: url("../../icons/stack.svg#icon-arrow-long");
  background-size: 32px 12px;
}

.programms__link:active {
  opacity: 0.3;
}
