// .programms {

// }

.programms__container {
  @include container;
}

.programms__list {
  @include list-style-reset;
}

.programms__card {
  @include block-color($black, $light);
}

.programms__title {
  @include font($secondary-font, 24px, 37px);
  text-transform: uppercase;
}

.programms__card::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.programms__card--cat-slim::before {
  background-image: url("../../icons/stack.svg#icon-cat-slim");
  background-size: 36px 50px;
}

.programms__card--cat-pro::before {
  background-image: url("../../icons/stack.svg#icon-cat-pro");
  background-size: 67px 28px;
}

.programms__text {
  @include font($primary-font, 14px, 18px, $gray-900);
}

.programms__link {
  @include font($secondary-font, 16px, 16px);
  @include link;
}
