.promo {
  @include block-color($black, $primary-lighter);

  @media (min-width: $tablet-width) {
    @include block-color();
  }
}

.promo__container {
  @include container;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include container-tablet;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
    display: grid;
  }
}

.promo__text-wrapper {
  @media (min-width: $tablet-width) {
    z-index: 10;
  }
}

.promo__title {
  @include font($secondary-font, 36px, 36px, $white);

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 60px, 60px, $black);
  }
}

.promo__lead {
  @include font($secondary-font, 14px, 14px, $white);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 20px, 20px, $black);
  }
}

.promo__link {
  @media (min-width: $tablet-width) {
    order: 2;
    z-index: 10;
    max-width: 242px;
  }
}

.promo__image-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    top: -31px;
    order: 3;
  }
}

.promo__image {
  display: block;
}
