.page__promo {
  @include block-color($black, $primary-lighter);

  @media (min-width: $tablet-width) {
    @include block-color();
  }
}

.page__promo-container {
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 709px;
    text-align: start;
  }
}

.page__promo-text-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 90px;
    order: -10;
  }
}

.page__promo-title {
  @include font($secondary-font, 36px, 36px, $white);

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 60px, 60px, $black);
  }
}

.page__promo-lead {
  @include font($secondary-font, 14px, 14px, $white);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 20px, 20px, $black);
  }
}

.page__promo-link {
  @media (min-width: $tablet-width) {
    position: relative;
    top: 71px;
    order: -5;
    max-width: 242px;
    margin-left: 90px;
  }
}
