.promo {
  font-family: $secondary-font;
  color: $second-color;
  background-color: $thirteenth-color-lighter;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $first-color;
}

.promo__lead {
  line-height: 14px;
  color: $first-color;
  text-transform: uppercase;
}
