.sub-products {
  @include block-color;
}

.sub-products__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.sub-products__title {
  @include font($secondary-font, 24px, 24px);
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.sub-products__cards-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.sub-products__list {
  @include list-style-reset;

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.sub-products__heading {
  @include font($secondary-font, 16px, 16px, $dark);
  text-transform: uppercase;
}

.sub-products__desc {
  @include font($primary-font, 14px, 14px, $gray-900);
}

.sub-products__card {
  @include block-color($white, $primary-lighter);

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.sub-products__card::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 78px 80px;
}

.sub-products__gift {
  @include font($primary-font, 16px, 20px, $white);
  margin-top: 0;
  margin-bottom: 0;
}
