// .sub-products {

// }

.sub-products__container {
  @include container;
}

.sub-products__title {
  @include font($secondary-font, 24px, 24px);
}

.sub-products__list {
  @include list-style-reset;
}

.sub-products__heading {
  @include font($secondary-font, 16px, 16px);
  color: $darker;
  text-transform: uppercase;
}

.sub-products__desc {
  @include font($primary-font, 14px, 14px);
  color: $dark;
}
