// .sub-products {

// }

.sub-products__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.sub-products__heading {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.sub-products__desc {
  line-height: 14px;
  color: $text-special-dark-grey;
}
