.subscribe {
  overflow: hidden;
}

.subscribe__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.subscribe__title {
  @include font($secondary-font, 24px, 24px);
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 32px;
  padding-right: 40px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    padding-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
    padding-left: 0;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscribe__title::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 800%;
  height: 2px;
  background-color: $primary;
  z-index: -1;
}


.subscribe__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 632px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 752px;
  }
}

.subscribe__text {
  @include font($secondary-font, 16px, 24px);
  margin-top: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
  }
}

.subscribe__field {
  @include font($secondary-font, 20px, 30px, $gray-900);
  padding: 12px 13px;
  background-color: $white;
  border: 1px solid $gray-300;
  text-transform: uppercase;
}

.subscribe__field:hover {
  border-color: $gray-700;
}

.subscribe__field:focus {
  outline: 2px solid $gray-900;
  border-color: $gray-900;
}

.subscribe__field:invalid {
  box-shadow: none;
}

.subscribe__field:focus:invalid {
  outline-color: $invalid;
  border-color: $invalid;
}

.subscribe__button {
  @include font($secondary-font, 20px, 26px, $white);

  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 56px;
  }
}
